body{

    color:  rgb(253, 0, 0);
    text-align: center;
    font-family: "arial";
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#contenedor {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
    font-family: "arial";
}

#contenedor h1 {
    font-size: 20px;
}
#cabeza {
    background: blue;
    font-weight: bold;
    color: #ddd;
    padding: 0.05em;
    font-size: 15px;
}

